@charset "UTF-8";

@import 'global.css';

/* - Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400 */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif:wght@400&display=swap');

/* - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');


:root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);

    --font-young: 'Young Serif';
    --font-outfit: 'Outfit';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--stone100);
    font-size: 16px;
}

/* Global */
a{
    text-decoration: none;
}

h2 {
    font-size: 38px;
    font-family: var(--font-young);
    font-weight: 400;
    padding: 0 0 10px 25px;
    color: var(--brown800);
}

.prep-h2 {
    font-size: 20px;
    font-family: var(--font-outfit);
    font-weight: 600;
    color: var(--rose800);
}

p,
li {
    font-family: var(--font-outfit);
    font-weight: 400;
    font-size: 18px;
    color: var(--stone600);
    padding: 0 25px;
}

hr {
    width: 85%;
    text-align: center;
    margin: 20px auto;
}

li::marker {
    color: var(--rose800);
}

.container {
    width: 375px;
    margin: auto;
    background: var(--white);
}

.container img {
    width: 100%;
    margin-bottom: 25px;
}

/* Section title */
.container .title {
    margin-bottom: 25px;
}

.container h1 {
    margin-bottom: 20px;
    font-family: var(--font-young);
    font-weight: 400;
    font-size: 38px;
    padding: 0 25px;
}

/* Section Preparation */
.container .preparation {
    padding-left: 50px;
    margin-bottom: 25px;
}

.container .preparation ul {
    padding-left: 30px;
}

.container .preparation ul li {
    line-height: 1.5rem;
}

/* Section Ingredients */
.container .ingredients ul {
    margin-bottom: 25px;
    line-height: 1.5rem;
    padding-left: 55px;
}

/* Section Instructions */
.container .instructions .list {
    padding-left: 55px;
}

.container .instructions .list li {
    padding-bottom: 0.5rem;
}

/* Section Nutrition */
.container .nutrition{
    padding-bottom: 10px;
}
.container .nutrition-card {
    width: 100%;
    margin: auto;
    margin-top: 15px;
    padding: 15px 0;
}

.container .nutrition-card .table-line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 30px;
}

.container .nutrition-card .table-line strong {
    color: var(--rose800);
    font-weight: bold;
}

/* Desktop */
@media screen and (min-width: 1440px) {
    h2 {
        font-size: 28px;
    }

    .prep-h2{
        font-size: 22px;
    }

    p,
    li {
    font-size: 16px;
    }

    hr {
        width: 95%;
        text-align: center;
        margin: 20px auto;
    }

    .container {
        width: 100%;
        max-width: 720px;
        margin: 120px auto 50px auto;
        background: white;
        border-radius: 15px;
        padding: 25px;
    }

    .container img {
        width: 100%;
        margin-bottom: 25px;
        border-radius: 12px;
    }

    /* Section Nutrition */
    .container .nutrition{
        padding-bottom: 10px;
    }

    .container .nutrition-card {
        width: 100%;
        margin: auto;
        margin-top: 10px;
        padding: 15px 0;
    }

    .container .nutrition-card .table-line{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 30px;
    }

    .container .nutrition-card .table-line strong{
        color: var(--rose800);
        font-weight: bold;
    }
}


/* Footer */
.attribution {
    margin: 25px 0;
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: var(--brown800);
}